*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(54, 54, 54);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 500;
}

main{
    width: 80%;
    max-height: fit-content;
    height: 60%;
}
.results .info{
    border: 1px solid whitesmoke;
    margin-bottom: 30px;
    color: aliceblue;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.results .info .marks{
    /* margin-top: 30px; */
    padding: 10px 19px;
    background-color: bisque;
   color: rgba(0, 0, 0, 0.882);
   font-size: 19px; 
   border-radius:12px;
}
.results .info .marks p{
    font-size: 26px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.results .info .marks p span {
    margin: 10px 0px;
}
.results .gameContainer{
    display: flex;
    justify-content:space-around; 
    align-items: center;
    margin-top: 50px;
}

.results .gameContainer .imageDiv{
    /* width: 100px; */
    /* height: x; */
    border: 8px solid rgba(0, 0, 255, 0.819);
    cursor: pointer;
    background-color: antiquewhite;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.button{
    color: white;
    border: none;
    padding:  20px;
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(15, 13, 13, 0.877);
    border-radius: 12px;
    cursor: pointer;
}
.movesContainer{
    /* width: 80%; */
    margin-top: 50px;
    /* border: 3px solid black; */
    padding: 10px;
    border-radius: 8px;
    display: none;
    box-shadow: 3px 3px 15px black;
}
.movesContainer .moves{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
    /* width: 100%; */
    /* padding: 10px; */
    border-radius: 12px;
}
.movesContainer .moves .move{
    /* width: 100px; */
    /* height: 100px; */
    /* border: 3px solid black; */
    border-radius: 50%;
    /* background-color: rgba(0, 0, 0, 0.882); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.movesContainer .moves .move p{
    font-size: 26px;
    font-weight: 600;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    color: azure;
}
.movesContainer .moves .move img{
    border: 10px solid rgb(15, 135, 111);
    border-radius: 50%;
    padding: 24px;
    background-color: antiquewhite;
}